name: mssql_sales_stack

services:
  init_sales:
    image: mcr.microsoft.com/mssql-tools:latest
    container_name: mssql_sales_init
    env_file:
      - ../../../../.env.local
    environment:
      MSSQL_SA_PASSWORD: "${MSSQL_REMOTE_PASS:-YourStrong@Passw0rd1}"
      MSSQL_HOST: "${MSSQL_REMOTE_HOST:-127.0.0.1}"
      MSSQL_PORT: "${MSSQL_REMOTE_PORT:-15433}"
    volumes:
      - ./init:/scripts
      - ../../../../data/out:/seed_data:ro
    network_mode: host
    profiles:
      - init
    entrypoint:
      - /bin/bash
      - -lc
      - |
        find /scripts -type f -name '*.sh' -exec sed -i 's/\r$//' {} +
        bash /scripts/run-init.sh
